registry=https://registry.npmmirror.com
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
sqlite3_mirror=https://cdn.npmmirror.com/binaries/sqlite3/

# 如果启用了此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败。
strict-peer-dependencies=false
# But if the shell-emulator setting is set to true, it will work on all platforms.
shell-emulator=true
# 当值为 true 时，将自动安装任何缺少的非可选同级依赖关系。
auto-install-peers=false
