# 一些镜像配置
registry=https://registry.npmmirror.com
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# sqlite3_mirror=https://cdn.npmmirror.com/binaries/sqlite3/
# node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/

# https://pnpm.io/zh/npmrc#strict-peer-dependencies
strict-peer-dependencies=false
# https://pnpm.io/zh/cli/run#shell-emulator
shell-emulator=true
# https://pnpm.io/zh/npmrc#auto-install-peers
auto-install-peers=false
